﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="../../Content/jasmine/jasmine.css"/>
</head>
<body>
<div>
</div>
</body>
</html>
